---
---
// 1. Your custom variables and variable overwrites.
// $global-color: #000;

// 2. Import default variables and available mixins.
@import "uikit/variables-theme.scss";

@import "uikit/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/uikit-theme.scss";
